body
{
	background-color: #00A0FF;
}

.Profile
{
	text-align: right;
}

#HomePic
{
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	background-color: #FF5000;
	padding: 5px;
	margin: 0px 4px 0px 4px;
}

.NavBar
{
	border-style: solid;
	border-width: 2px;
	background-color: #FF5000;
	border-radius: 5px;
	margin: 5px 2px 10px 2px;
}

.Topics
{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

form
{
	border-style: none;
	background-color: #FF5000;
	padding: 3px 5px 3px 5px;
}

footer
{
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}











